body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

:root {
  --primary-color: #4f46e5;
  --text-color: #333;
}

input[type='password']::-webkit-credentials-auto-fill-button,
input[type='password']::-webkit-contacts-auto-fill-button {
  display: none !important;
  visibility: hidden;
}

input[type='password']::-ms-reveal,
input[type='password']::-ms-clear {
  display: none;
}
