@import 'tailwindcss';

@theme {
  --color-primary-50: #eef2ff;
  --color-primary-100: #e0e7ff;
  --color-primary-200: #c7d2fe;
  --color-primary-300: #a5b4fc;
  --color-primary-400: #818cf8;
  --color-primary-500: #6366f1; /* // Main brand color */
  --color-primary-600: #4f46e5;
  --color-primary-700: #4338ca;
  --color-primary-800: #3730a3;
  --color-primary-900: #312e81;
  --color-primary-950: #1e1b4b;

  --shadow-btn: 0 0 20px 3px var(--color-primary-50);
}

@layer base {
  :root {
    @apply font-sans antialiased;
    line-height: 1.5;
    font-weight: 500;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply m-0 min-h-screen min-w-[320px];
    @apply bg-primary-50 text-primary-950;
  }

  html.dark body {
    @apply bg-[#0a0a0a];
  }
}

@layer components {
  button {
    @apply cursor-pointer transition-all duration-200;
  }

  .nav-item {
    @apply py-1.5 px-5 rounded-3xl transition-colors duration-200;
    @apply hover:bg-primary-400;
  }

  .nav-item-active {
    @apply bg-primary-600 text-white;
  }
}
